[Desktop Entry]
Name=Spring Tool Suite 4
Comment=SpringSource Tool Suite 4
Exec=/home/ambiente/bin/sts-{{ sts_version }}/SpringToolSuite4 %F
Icon=/home/ambiente/bin/sts-{{ sts_version }}/icon.xpm
Type=Application
StartupNotify=true
Categories=TextEditor;Development;Utility;
MimeType=text/plain
