[Desktop Entry]
Name=STS {{ sts_release }}
Keywords=sts;spring;java
Exec=/home/ambiente/bin/sts-{{ sts_release }}/SpringToolSuite4 %F
Icon=/home/ambiente/bin/sts-{{ sts_release }}/icon.xpm
Type=Application
StartupNotify=true
Categories=TextEditor;Development;Utilitiy;
MimeType=text/plain
