- include: kernel.yml
- include: apt-packages.yml
- include: snap-packages.yml

- name: Garantindo que grupo "ambiente" existe
  group:
    name: ambiente
    state: present

- name: Garantindo que o usuário '{{ username }}' está no grupo ambiente
  user:
    name: '{{ username }}'
    groups: ambiente
    append: yes

- name: Garrantindo permissoes da pasta de ambiente /home/ambiente 
  file:
    path: /home/ambiente
    state: directory
    owner: '{{ username }}'
    group: ambiente
    mode: 0755

- name: Downloads ficam em /home/ambiente/install
  file:
    path: /home/ambiente/install
    state: directory
    owner: '{{ username }}'
    group: ambiente
    mode: 0755

- name: Programas instalados em /home/ambiente/bin
  file:
    path: /home/ambiente/bin
    state: directory
    owner: '{{ username }}'
    group: ambiente
    mode: 0755

- include: springtoolsuite.yml

- include: visualstudiocode.yml

- include: gnome.yml
