- name: Baixando o cliente de VPN Checkpoint para Linux

  get_url:
    url: "{{ snx_url }}"
    dest: "/home/ambiente/install/{{ snx_file }}"
    mode: '0005'
    owner: "{{ username }}"
    group: ambiente

- name: Instalando cliente de VPN
  script: "/home/ambiente/install/teste.sh"
